__pycache__/
*.pyc
.env
mlruns/
data/
*.pkl
.dvc/

# Ignore model files but NOT the folder or .dvc metafiles inside models/
models/*.pkl

# Do NOT ignore .dvc metafiles anywhere (including models/)
!*.dvc
/models
